[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "A Basic MERN forum with user and admin page function "
[access "refs/*"]
	owner = group user/Jing Sheng Moey  (Moey1017)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jing Sheng Moey  (Moey1017)
	label-Verified = -1..+1 group user/Jing Sheng Moey  (Moey1017)
	push = group user/Jing Sheng Moey  (Moey1017)
	read = group user/Jing Sheng Moey  (Moey1017)
	rebase = group user/Jing Sheng Moey  (Moey1017)
	removeReviewer = group user/Jing Sheng Moey  (Moey1017)
	submit = group user/Jing Sheng Moey  (Moey1017)
[access "refs/heads/*"]
	create = group user/Jing Sheng Moey  (Moey1017)
	push = +force group user/Jing Sheng Moey  (Moey1017)
	pushMerge = group user/Jing Sheng Moey  (Moey1017)
	read = group user/Jing Sheng Moey  (Moey1017)
[access "refs/tags/*"]
	push = group user/Jing Sheng Moey  (Moey1017)
	push = +force group user/Jing Sheng Moey  (Moey1017)
